name: Aggregate TPR data
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  schedule:
    - cron:  '0 */3 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: php-actions/composer@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Configure access token
        run: composer -g config github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}

      - name: Report progress to Sentry
        run: curl "${{ secrets.SENTRY_CRONS }}?status=in_progress"

      - name: Aggregate TPR data
        run: |
          mkdir public/
          php console.php app:aggregate-tpr-services description > public/services.json
          cat public/services.json | jq type
          php console.php app:aggregate-tpr-services errandservice > public/errandservices.json
          cat public/errandservices.json | jq type
          php console.php app:aggregate-unit-services public/services.json > public/unitservices.json
          cat public/unitservices.json | jq type

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'

      - name: Report progress to Sentry
        run: curl "${{ secrets.SENTRY_CRONS }}?status=ok"
